extends index2

block postTitle
  b= newPostTitle
  if !newPostTitle
  else
     b
  
block postDesc
  p= newPostDescription 
  if !newPostDescription
  else
     p
       
block postDate
  span.w3-opacity= date
  if (!date)
  else
    span.w3-opacity
  
block postTitle1
  b=newPostTitle1
  if !newPostTitle1
  else
     b
       
block postDesc1
  p= newPostDescription1 
  if !newPostDescription1
  else
     p

block postDate1
  span.w3-opacity= date1 
  if !date1
  else
    span.w3-opacity 
  
block postTitle2
  b= newPostTitle2
  if !newPostTitle2
  else
     b

block postDesc2
  p= newPostDescription2 
  if !newPostDescription2
  else
     p 
  
block postDate2
  span.w3-opacity= date2
  if (!date2)
  else
    span.w3-opacity
  
block postTitle3
  b= newPostTitle3
  if !newPostTitle3
  else
     b
  
block postDesc3
  p= newPostDescription3
  if  !newPostDescription3
  else
     p  
  
block postDate3
  span.w3-opacity= date3
  if !date3
  else
    span.w3-opacity
   
block postTitle4
  b=newPostTitle4
  if !newPostTitle4
  else
     b
  
block postDesc4
  p= newPostDescription4
  if !newPostDescription4
  else
     p 
    
block postDate4
  span.w3-opacity= date4
  if !date4
  else
    span.w3-opacity
    
block postTitle5
  b= newPostTitle5
  if !newPostTitle5
  else
     b

block postDesc5
  p= newPostDescription5
  if !newPostDescription5
  else
     p 
     
block postDate5
  span.w3-opacity= date5
  if !date
  else
    span.w3-opacity  

  
